<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div
      class="relative w-full h-[1029px] text-left text-10xl text-darkslateblue font-b612"
    >
      <div
        class="absolute top-[867px] left-[0px] [background:linear-gradient(180deg,_rgba(28,_158,_158,_0),_#1c9e9e)] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] w-[1440px] h-[162px]"
      ></div>
      <div
        class="absolute top-[0px] left-[0px] [background:linear-gradient(180deg,_#1c9e9e,_rgba(95,_241,_241,_0))] w-[1440px] h-[483px]"
      ></div>
      <div
        class="absolute top-[500px] left-[308px] bg-gainsboro w-[683px] h-[52px]"
      ></div>
      <b
        class="absolute top-[451px] left-[308px] tracking-[-0.02em] leading-[21px] flex items-end w-[554px] h-[66px]"
        >Enter YouTube Link Here:</b
      >
      <input
        class="bg-gainsboro absolute top-[529px] left-[306px] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] box-border w-[828px] h-[62px] border-[1px] border-solid border-btnbkgnormal"
        type="text"
      />

      <img
        class="absolute top-[307px] left-[505px] w-[400px] h-[100px] object-cover"
        alt=""
        src="/public/lessonifyhighresolutionlogocolorontransparentbackground-1@2x.png"
      />
    </div>
  </body>
</html>
