<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div
      class="relative w-full h-[1024px] text-left text-10xl text-darkslateblue font-b612"
    >
      <div
        class="absolute top-[0px] left-[0px] bg-btnlabel w-[1440px] h-[1024px] overflow-hidden"
      >
        <div
          class="absolute w-[calc(100%_-_304px)] top-[238px] right-[152px] left-[152px] rounded-lg bg-lightcyan h-[479px]"
        ></div>
        <img
          class="absolute top-[840px] left-[168px] rounded-lg w-[1104px] h-[119px]"
          alt=""
          src="/public/rectangle-10.svg"
        />

        <div
          class="absolute top-[0px] left-[0px] bg-powderblue w-[1440px] h-[110px] overflow-hidden"
        >
          <b
            class="absolute top-[-31px] left-[292px] text-mini tracking-[-0.02em] leading-[21px] flex text-btnbkgnormal items-end w-[63px] h-[60px]"
            >AI</b
          >
          <img
            class="absolute top-[25px] left-[28px] w-[264px] h-[66px] object-cover"
            alt=""
            src="/public/lessonifyhighresolutionlogocolorontransparentbackground-2@2x.png"
          />

          <b
            class="absolute top-[2px] left-[1175px] tracking-[-0.02em] leading-[21px] flex items-end w-[130px] h-[66px]"
            >AI Helper</b
          >
          <b
            class="absolute top-[2px] left-[994px] tracking-[-0.02em] leading-[21px] flex items-end w-[110px] h-[66px]"
            >Forums</b
          >
        </div>
        <div
          class="absolute top-[734px] left-[169px] w-[1103px] h-[55px] overflow-hidden text-center text-lg text-btnlabel font-btnfont"
        >
          <div
            class="absolute top-[0px] left-[28px] w-[178px] h-[34px] flex flex-row items-start justify-start"
          >
            <div
              class="rounded-3xs bg-btnbkgnormal w-[92px] hidden flex-row py-2.5 px-[25px] box-border items-start justify-start"
            >
              <div class="relative">Generate Notes</div>
            </div>
          </div>
          <div
            class="absolute top-[calc(50%_-_23.5px)] left-[calc(50%_-_239.5px)] rounded-3xs bg-skyblue w-[169px] h-[51px] flex flex-row py-2.5 px-[25px] box-border items-center justify-center"
          >
            <div class="relative">Generate Notes</div>
          </div>
          <div
            class="absolute top-[calc(50%_-_23.5px)] left-[calc(50%_+_382.5px)] rounded-3xs bg-skyblue w-[169px] h-[51px] flex flex-row py-2.5 px-[25px] box-border items-center justify-center"
          >
            <div class="relative">Show Transcript</div>
          </div>
          <div
            class="absolute top-[4px] left-[0px] rounded-3xs bg-skyblue w-[292px] h-[51px] flex flex-row py-2.5 px-[25px] box-border items-center justify-center"
          >
            <div class="relative">Go to Peer-Graded Assignment</div>
          </div>
          <div
            class="absolute h-[92.73%] w-[13.15%] top-[7.27%] right-[41.43%] bottom-[0%] left-[45.42%] rounded-3xs bg-red flex flex-row py-2.5 px-[25px] box-border items-center justify-center"
          >
            <div class="relative">Assessment</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
