<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnCodeNow</title>
</head>
<body>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
        <label for="user_input">Enter your text:</label>
        <input type="text" id="user_input_url" name="user_input_url">
        <input type="submit" value="Submit">
    </form>
    {% if result %}
        <h2>Transcription Result:</h2>
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>