<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@600&display=swap"
    />
  </head>
  <body>
    <div
      class="relative w-full h-9 cursor-pointer text-center text-sm text-btnlabel font-button-text"
      id="primarySmallDefault"
    >
      <div
        class="absolute w-[calc(100%_-_32px)] top-[6px] left-[16px] tracking-[0.75px] leading-[16px] uppercase font-semibold inline-block h-[15px]"
      >
        Button
      </div>
    </div>

    <script>
      var primarySmallDefault = document.getElementById("primarySmallDefault");
      if (primarySmallDefault) {
        primarySmallDefault.addEventListener("click", function (e) {
          window.location.href = "/";
        });
      }
      </script>
  </body>
</html>
